.booking {
    padding: 3rem 0 0 0;
    gap: 2rem;
    background-color: #edefee;
  }
  
  .booking section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .booking h1 {
    text-align: center;
  }